header{background-color: rgb(35, 155, 115);}
header h1{color: rgb(233, 34, 34); text-align:center;}
header nav ul li{display: inline-block; margin-top: 40px; font-size: large;}
header nav UL LI A {color: rgb(143, 32, 235); text-decoration: aqua;}
p{color: rgb(208, 250, 23); margin: 20px;}